@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* BOILERPLATE */
* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s;
    color: var(--text-color);
}

:root{
    --text-color: #6A6A6A; 
}
body {
    background-image: url(images/bg.png);
}
h2 {
    margin: 2.5rem 0 2rem 0;
}

h2 span {
    padding: 0.25rem 0.5rem;
    background-color: #555;
    color: white;
    border-radius: 10px;
}

.container {
    width: 1200px;
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
}

/* TOP HEADER */
#top-header {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

#top-header .container {
    justify-content: space-between;
    align-items: center;
}
#top-header p {
    color: white;
    font-weight: 600;
}
#top-header ul {
    list-style-type: none;
    display: flex;
}
.theme-btn {
    width: 1.25rem;
    height: 1.25rem;
    border: white 1px solid;
    border-style: inset;
    border-radius: 25px;
    margin: 0 1px;
}
.theme-btn:hover{
    cursor: pointer;
    border-style: outset;
}
#black-theme {
    background-color: #333333;
}
#purple-theme{
    background-color: #961C9B;  
}
#blue-theme {
    background-color: #03436F;
}
#yellow-theme {
    background-color: #CDBE0D;
}
/* TITLE HEADER */
#title-header .container img {
    height: 4rem;
    margin: 1rem;
}

#title-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* SLIDESHOW */
#slideshow{
    background-color: rgba(0, 0, 0, 0.1);
}

#slideshow .container img {
    object-fit: cover;
    width: 100%;
    height: 22rem;
}

/* ABOUT */

#about .container {
    flex-direction: column;
}

#about h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

#about p {
    text-align: center;
    line-height: 2rem;
}

/* SERVICES */

#services .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SERVICE BOX */

#service-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}
/* TODO make not center on y so paragraph size doesnt fuck it */
#service-box > div {
    display: flex;
    align-items: center;
    width: 575px;
    max-height: 150px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 10px;
}

#service-box img {
    height: 6rem;
}

#service-box h3 {
    margin: 0 0 1rem 1rem;
}

#service-box p {
    margin: 1rem 0 1rem 1rem;
    font-size: 0.95rem;
}

/* REVIEWS */
#reviews .container{
    flex-direction: column;
    justify-content: center;
}

#reviews h2{
    text-align: center;
    margin: 3rem 0 4rem 0;
}

#client-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.profile{
    width: 375px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E2E2E2;
    border-radius: 10px;

    position: relative;
}

.profile img {
    position: absolute;
    bottom: 14.75rem;
    width: 7rem;
}

.profile h3 {
    margin-top: 5rem;
}

.profile p {
    text-align: center;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.profile .readmore {
    color: white;
    font-size: 1.05rem;
    font-weight: bold;
    text-transform: uppercase;

    background-color: #999;
    padding: 0.4rem 4rem;
    border-radius: 3px;
    margin: 0.25rem 0 1.5rem 0;
}
.profile .readmore:hover {
    cursor: pointer;
    background-color: #666;
}

/* EMAIL SIGNUP */

#signup {
    background-image: url(images/bg2.png);
    background-color: #555;
}

#signup .container {
    flex-direction: column;
    align-items: center;
}

#signup h2 {
    color: white;
    font-weight: 300;
    font-size: 1.7rem;
    margin: 2.5rem 0 0.5rem 0;
}
#signup p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#signup form {
    margin-bottom: 3.5rem;
}

#signup form input{
    padding: 0.7rem 2.5rem 0.8rem 0.5rem;
    border-radius: 0.5rem;
    margin: 0 0.1rem;
}

#signup form input::placeholder{
    font-size: 0.8rem;
    font-weight: 500;
}

#signup form input[type="submit"] {
    color: black;
    font-weight: 600;
    padding: 0.8rem 1rem;
}

#signup form input[type="submit"]:hover {
    cursor: pointer;
    filter: invert(0.1);

}

/* FOOTER */

footer {
    background-color: #333;
}

footer .container {
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: white;
    font-size: 0.9rem;
    margin: 1.5rem 0;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

/* SOCIAL BUTTONS */

.social-btn {
    width: 2rem;
    height: 2rem;
    margin: 1.5rem 0.25rem;
    transition: none;
}

.social-btn:hover {
    cursor: pointer;
    background-position: 0 -32px;
}

#linkedin-btn {
    background-image: url(images/in.png);
}

#youtube-btn {
    background-image: url(images/yt.png);
}
#facebook-btn {
    background-image: url(images/fb.png);
}
#twitter-btn {
    background-image: url(images/tw.png);
}


@media (max-width: 1200px) {

    body{
        zoom: 0.9;
    }

}

@media (max-width: 1080px) {
    .container{
        width: 100%;
        padding: 0 0.5rem;
    }
    #service-box > div{
        flex: auto;
        margin: 0 2rem;

    }


    #client-box{
        justify-content: center;
        gap: 2.5rem 1rem;
    }
}

@media (max-width: 575px) {
    h1{
        font-size: 1.5em;
    }
    #service-box > div{
        flex: auto;
        margin: 0 2rem;
        width: 100%;
        max-height: fit-content;
    }

    #signup {
        text-align: center;
    }

    #signup form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}